<div class="tb-position--relative main" ngClass.xs="xs" ngClass.sm="sm" #animRefView>
    <!-- <div class="tb-position--absolute tb-height--full"> -->
    <!-- <div class="background-bar">

        <div class="tb-container vertical-line-container" fxLayoutAlign="space-between stretch">
            <div class="vertical-lines"></div>
            <div class="vertical-lines"></div>
            <div class="vertical-lines"></div>
        </div>
    </div> -->
    <div class="tb-container tb-position--relative container">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <!-- <p>home-about works!</p> -->

            <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:100}}" fxLayout="row"
                fxLayoutAlign="start end">
                <h4 class="title current-typo--h4 tb-flex--shrink-0">Sobre mim.</h4>
                <div class="tb-width--12"></div>
                <div fxFlex="60" class="line tb-color-bg--black"></div>
                <div fxFlex class=""></div>
            </div>

            <div ngClass.gt-xs="tb-height--20" ngClass.xs="tb-height--12"></div>


            <div fxLayout="row" fxLayout.xs="column">
                <div [fxFlexOrder]='1' [fxFlexOrder.xs]="2" fxFlex fxFlex.xs="none" fxFlex.sm="70" fxLayout="column">
                    <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>
                    <p [@transitionText]="{value:_mTriggerAnim, params:{animDelay:200}}"
                        class="current-typo--body1-medium tb-color--black-54">
                        Em 2013, iniciei meus estudos em <span class="tb-color--black">Desenvolvimento de Software</span>. Desde
                        então, tenho dedicado minha carreira ao desenvolvimento de aplicações, APIs
                        eficientes e soluções automatizadas para clientes ao redor do mundo. Possuo sólido conhecimento
                        em frameworks e tecnologias modernas, como <span class="tb-color--black">NestJS</span>, <span
                        class="tb-color--black">Angular</span>, <span
                        class="tb-color--black">Ionic</span> e <span class="tb-color--black">AWS</span>,
                        entregando soluções robustas e escaláveis.
                    </p>

                    <div ngClass.gt-sm="tb-height--12" ngClass.sm="tb-height--8" ngClass.xs="tb-height--6"></div>

                    <p [@transitionText]="{value:_mTriggerAnim, params:{animDelay:200}}"
                        class="current-typo--body1-medium tb-color--black-54">Meu objetivo é desenvolver produtos com
                        design moderno, fácil de ser utilizado pelo usuário, e principalmente, ajudar seu negócio
                        evoluir.</p>
                    <!-- <p [@transitionText]="{value:_mTriggerAnim, params:{animDelay:300}}"
                        class="current-typo--body1-medium tb-color--black-54">I have built over 30+ products in last 5
                        years.</p> -->

                    <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>

                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:300}}" fxLayout="row">
                        <div fxFlex fxLayout="column" fxLayoutGap="12" fxLayoutAlign="start start">
                            <h2 class="title current-typo--h3-light">05+</h2>
                            <h4 class="title current-typo--h6">Anos de experiência profissional.</h4>

                        </div>

                        <!-- <div fxFlex fxLayout="column" fxLayoutGap="12" fxLayoutAlign="start start">
                            <h2 class="title current-typo--h3-light">40+</h2>
                            <h4 class="title current-typo--h6">Projects Completed</h4>

                        </div> -->

                    </div>

                    <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>

                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:500}}" fxLayout="row wrap"
                        fxLayoutGap="6">

                        <div class="skill" style="background-color: #131313;">
                            <h5 class="current-typo--h5 tb-color--white">Websites</h5>
                        </div>

                        <div class="skill" style="background-color: #212121;">
                            <h5 class="current-typo--h5 tb-color--white">Plataformas</h5>
                        </div>

                        <div class="skill" style="background-color: #313131;">
                            <h5 class="current-typo--h5 tb-color--white">APIs</h5>
                        </div>

                        <div class="skill" style="background-color: #616161;">
                            <h5 class="current-typo--h5 tb-color--white">Automação</h5>
                        </div>

                        <div class="skill" style="background-color: #838383;">
                            <h5 class="current-typo--h5 tb-color--white">Nuvem</h5>
                        </div>

                        <div class="skill" style="background-color: #a3a3a3;">
                            <h5 class="current-typo--h5 tb-color--white">Arquitetura</h5>
                        </div>

                        <div class="skill" style="background-color: #bbbbbb;">
                            <h5 class="current-typo--h5 tb-color--white">Design de Produto</h5>
                        </div>

                        <div class="skill" style="background-color: #dbdbdb;">
                            <h5 class="current-typo--h5 tb-color--black">Integrações</h5>
                        </div>

                    </div>

                    <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>

                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:600}}" fxLayout="row"
                        fxLayoutAlign="start center" fxLayoutGap="32">
                        <a class="btn-area-cv"
                            href="https://drive.google.com/file/d/1RPKgODUfqKGY5fxXW4oXDFj-wojenvb6/view?usp=sharing"
                            target="_blank">
                            <button mat-raised-button color="white"><span
                                    class="current-typo--button-medium">Visualizar Currículo</span></button>
                        </a>
                    </div>

                </div>
                <div fxFlex.xs="none" fxFlex [fxFlexOrder.xs]="1" [fxFlexOrder]=' 2' class="image-container"
                    fxLayout="column" fxLayoutAlign="center stretch">
                    <div [@transitionImageScale]="{value:_mTriggerAnim, params: {animDelay: 800}}"
                        class="tb-text--align-center image-area" #imageAreaView>
                        <img class="image tb-position--relative" src="assets/img/avatar/pic_avatar(2).png" />
                    </div>

                </div>

            </div>



        </div>
    </div>
</div>