.main {
    // overflow-x: hidden;
    .container {
        box-sizing: border-box;
        padding: 0px 20px;
    }

    .line {
        height: 2px;
    }

    .section-title {
        line-height: 0.7;
    }

    .section-detail{
        width: 70%;
    }

   
    .logos-area{
        height: 500px;

        .image{
            height: 100%;
            width: 100%;
            object-fit: cover;

        }
    }

    .logo-area-row{
        height: 60%;      
    }

    .logo-area-small{
        height: 35%;
    }

    .logo-area-large{
        height: 100%;
    }

    &.sm{
       
        .logos-area{
            height: 340px;
        }

        .icon-area-full{
            height: 264px;
        }
        // .logos-area{
        //     height: 400px;
        // }
    
        // .logo-area-row{
        //     height: 264px;      
        // }
    
        // .logo-area-small{
        //     height: 100px;
        // }
    
        // .logo-area-large{
        //     height: 300px;
        // }
    }

    &.xs{
    
    }

    .btn-area-cv {
        // z-index: 2;
        position: relative;

        > * {
            z-index: 2;
        }

        &::after {
            // z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 4px;
            left: 4px;
            border: solid 1px #000000;
            border-radius: 4px;
            content: "";
        }
    }

    .unlink {
        text-decoration: unset;
    }

    .btn-area-hire {
        padding-top: 6px;
        // margin-bottom: 4px;
        .btn-hire {
            padding: 10px 28px;

            // background: rgba(color(color-gitter--rgb), 0.05);
            border: solid 1px #000000;
            border-radius: 4px;
        }
    }

    &.xs {
        .image-container{
            margin: 20px;
        }
        .image-area {
            width: 100%;

            padding: unset;
            .image {
                width: 100%;
            }
        }
    }
}

@function hexToCssRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

@function color($color-name) {
    @return var(--#{$color-name});
}

:host {
    --app-primary: blue;
    --app-primary--rgb: #{hexToCssRGB(#0000ff)};
    // --app-secondary:green;
}


.main {
    // margin: 8px 0px;

   

    
      

    &.sm {
        .content {
            // padding: 24px 24px;
        }

        .image-area {
            // max-height: 63vh;
            
        height: 400px;
        }
    }

    &.xs {
        width: 100%;
        .content {
            // padding: 24px 24px;
        }

        .image-area {
            height: unset;
            width: 100%;
            .image {
                height: auto;
                width: 100%;
            }
        }
    }

    .background {
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0px;
        right: 0px;
        // border: 2px solid white;
        
        // border: 2px solid var(--app-primary);
        box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.05);
    }
    .content {
        // box-sizing: border-box;
        z-index: 1;
        // padding: 32px 32px;

        // margin: 28px 0px;
    }

    .image-area {
        // max-height: 63vh;
        // height: 360px;
        // max-height: 24vh;

        display: flex;
        max-height: 100%;
        width: 100%;
        height: 400px;
        justify-content: center;
        align-items: center;
        .image {
            // height: 100%;
            max-height: 80%;
            max-width: 80%;
            // width: auto;
            object-fit: contain;
            // width: 100%;
            box-sizing: border-box;


            // filter: drop-shadow(30px 20px 20px rgba(0, 0, 0, 0.2));
        }
    }

    .icon-area{
        height: 4rem;
        border-radius: 50%;
        width: 4rem;
        display: flex;
        
        justify-content: center;
        align-items: center;
    }

    .icon-outline{

        border: solid 1px black;
    }
}

.unlink{
    text-decoration: unset;
  }
