<div class="tb-position--relative main current" ngClass.xs="xs" ngClass.sm="sm" #animRefView>

    <div class="tb-container tb-position--relative container">
        <div fxLayout="column" fxLayoutAlign="start stretch">


            <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>

            <h2 [@transitionText]="{value:_mTriggerAnim, params:{animDelay:100}}" ngClass.gt-sm="current-typo--h3-light"
                ngClass.sm="current-typo--h3-light" ngClass.xs="current-typo--h4">Meus Trabalhos.</h2>

            <div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--20"></div>

            <app-client-apps></app-client-apps>

            <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--24"></div>

            <app-my-apps></app-my-apps>

            <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>

            <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:600}}" fxLayout="row"
                fxLayoutAlign="start center" fxLayoutGap="32">
                <!-- <a class="btn-area-cv"
                    
                    target="_blank">
                    <button mat-raised-button color="primary"><span class="current-typo--button-medium">Ver Mais</span></button>
                </a> -->

                <!-- <div class="btn-area-hire">

                            <a mat-ripple class="unlink btn-hire tb-color-bg--white" fxLayout="row"
                                fxLayoutAlign="center center"
                                href="https://gitter.im/JunkieLabs/common?utm_source=share-link&utm_medium=link&utm_campaign=share-link/"
                                target="_blank">

                                <p class="current-typo--button-medium tb-font-weight--medium tb-color--black">Hire me
                                </p>
                            </a>

                        </div> -->

            </div>

            <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>

            <!-- <app-icons></app-icons>
            <div ngClass.gt-xs="tb-height--36" ngClass.xs="tb-height--24"></div> -->


            <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:200}}" fxLayout="row"
                fxLayoutAlign="start end">
                <h4 class="section-title current-typo--h4 tb-flex--shrink-0">Logos.</h4>
                <div class="tb-width--12"></div>
                <div fxFlex="60" class="line tb-color-bg--black"></div>
                <div fxFlex class=""></div>
            </div>
            
            <div ngClass.gt-xs="tb-height--56" ngClass.xs="tb-height--20"></div>

            <div [@transitionImageScale]="{value:_mTriggerAnim, params: {animDelay: 400}}" class="logos-area"
                fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="start center"
                fxLayoutAlign.xs="start start" fxLayoutGap="12">
                <div fxFlex.gt-xs="13" fxFlex.xs="none" class="logo-area logo-area-small tb-color-bg--green-300">
                    <img class="tb-image image" src="../../../../../assets/img/logos/duo.png" />
                </div>
                <div class="logo-area-row" fxFlex.gt-xs="17" fxFlex.xs="none" fxLayout.xs="row" fxLayout.gt-xs="column"
                    fxLayoutGap="12">
                    <div fxFlex="35" class="logo-area logo-area-1 tb-color-bg--blue-300">
                        <img class="tb-image image" src="../../../../../assets/img/logos/emblema.png" />
                    </div>
                    <div fxFlex="65" class="logo-area logo-area-2 tb-color-bg--orange-300">

                        <img class="tb-image image" src="../../../../../assets/img/logos/21memes.png" />
                    </div>

                </div>
                <div fxFlex.gt-xs="40" fxFlex.xs="none" class="logo-area logo-area-large tb-color-bg--red-300">
                    <img class="tb-image image" src="../../../../../assets/img/logos/lktt.png" />
                </div>
                <div class="logo-area-row" fxFlex.gt-xs="17" fxFlex.xs="none" fxLayout.xs="row" fxLayout.gt-xs="column"
                    fxLayoutGap="12">
                    <div fxFlex="65" class="logo-area logo-area-2 tb-color-bg--orange-300">
                        <img class="tb-image image" src="../../../../../assets/img/logos/codando2020.png" />
                    </div>
                    <div fxFlex="35" class="logo-area logo-area-1 tb-color-bg--blue-300">
                        <img class="tb-image image" src="../../../../../assets/img/logos/codando2022.png" />

                    </div>
                </div>
                <div fxFlex.gt-xs="13" fxFlex.xs="none" class="logo-area logo-area-small tb-color-bg--green-300">
                    <img class="tb-image image" src="../../../../../assets/img/logos/facilite.png" />

                </div>
            </div>

            <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>
            <div ngClass.gt-xs="tb-height--36" ngClass.xs="tb-height--24"></div>

        </div>
    </div>
</div>